/* Geral */
*{
    margin: 0;
    font-family: Inter;
}
/* html, body{
    height: 100%;
} */

button{
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    width: 150px;
    height: 40px;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
}
/* Pontos roxos */
h1 p{
    color:rgba(104, 85, 224, 1);
}


/*Titulo*/
.container_titulo{
    width: 100%;
    height: 5%;
}

.titulo{
    font-size:40px;
    margin-left:30px;
    display: flex;
}


/* Main */
.main{
    display:flex;
    height: 90%;
    width: 100%;
    justify-content: center;
}

.main_conteudo{
    width:60%;
    height: 100%;
    display:flex;
    justify-content: space-between;
}
  
.painel{
    height: 100%;
    min-height: 600px;
    width: 48%;
    border-style:solid;
    border-radius:4px;
    border-width: 2px;
    border-color: lightgrey;
    backdrop-filter: blur(2px);
    filter: drop-shadow(0.5rem 0.5rem 0.55rem rgba(0, 0, 20, 0.61));
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}
.painel_conteudo{
    height: 50%;
    width: 350px;
    min-height: 400px;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: green; */
}
.painel_conteudo h1{
    font-size:70px;
    display:flex;
}
.painel_conteudo h1 p{
    align-self: flex-end;
}

.painel_conteudo h2{ 
    font-weight: 400;
    font-size:25px;
}


/* Botão estatico */
.button_registro{
    margin-top: 15px;
    color: white;
    background-color: rgba(104, 85, 224, 1);
    border: none;
}


/* Cadastro */
.painel_cadastro{
    height: 100%;
    min-height: 750px;
    width: 30%;
    border-style:solid;
    border-radius:4px;
    border-width: 2px;
    border-color: lightgrey;
    backdrop-filter: blur(2px);
    filter: drop-shadow(0.5rem 0.5rem 0.55rem rgba(0, 0, 20, 0.61));
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}
.painel_cadastro .painel_conteudo{
    height: 80%;
}
.painel_conteudo .wrap_login{
    margin-top: 20px;
}


/* Formularios (Cadastro / Login)*/
.painel_conteudo h3{
    font-weight: 200;
    font-size:25px;
    text-shadow:1px 1px 2px lightgray;
}
input{
    width: 322px;
    border-style:solid;
    border-radius:4px;
    border-color:lightgray;
    box-shadow:2px 2px 1px lightgray;
    padding-top:10px;
    padding-left:20px;
    padding-bottom:10px;
}
input::placeholder{
    font-weight: 200;
    font-size:15px;
    color:dimgrey;
}
input:focus{
    outline: none;
    border: 2px solid rgba(104, 85, 224, 1);
    border-radius:4px;
    box-shadow:2px 2px 1px lightgray;
}
.input-Button{
    margin-top: 5px;
    transition: 0.4s;
    color: black;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
}   
.input-Button:hover {
    color: white;
    background-color: rgba(104, 85, 224, 1);
}
.input_wrap{
    margin-top: 5px;
    margin-bottom: 25px;
}

/* Erro de validação */
.container_erro{
    background-color: rgba(255, 186, 159, 0.4);
    border-radius: 2px;
}
.erro_input{
    border: 2px solid red;
}
.erro_inpput::placeholder{
    color: red;
}
.erro{
    color: red;
}